{layout="_layout/default"}
<div role="main" class="main">
	<section class="page-header page-header-classic page-header-md">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 data-title-border>Craft Commerce Development</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-1 mb-5">
		<div class="row">
			<div class="col-lg-10">
				<div class="overflow-hidden">
					<p>
						Craft Commerce is a self-hosted e-commerce platform that comes with powerful features to satisfy the high-quality multi-lingual content management, stylish and practical design with enabling the advanced e-commerce features that serves all the type of businesses across the industries.
					</p>
				</div>
			</div>
			<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<a href="{path='get-a-quote'}" class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2">Get a Quote!</a>
			</div>
		</div>	
	</div>

	<section class="call-to-action call-to-action-primary mb-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-lg-9">
					<div class="call-to-action-content">
						<h3>Get practical <strong>Craft Commerce Applications</strong> that drive business growth for small to medium-sized enterprises.</h3>
						<p class="mb-0">360Adaptive Technologies develops powerful Craft Commerce stores and employing the power of a highly scalable solution for your custom Craft CMS Application.</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="call-to-action-btn">
						<a href="{path='contact-us'}" target="_blank" class="btn btn-modern text-2 btn-light border-0">Contact Us Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
		<div class="container">

			<div class="row">
				<div class="col">

					<div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Craft Commerce Development</strong> with 360adaptive Technologies</h2>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Get assistance from 360Adaptive team of highly creative designers to design the UX of your storefront that optimizes your sales funnel, and craft your customer journey for better business growth.</li>
								<li><i class="fas fa-check"></i> Our digital strategists will help you brainstorm your business goals and ideas to determine the right solution for you.</li>
								<li><i class="fas fa-check"></i> Our Content Management team will help you create and optimize your content and search engine optimization to maximize your online presence.</li>
								<li><i class="fas fa-check"></i> We at 360Adaptive help you localize your content in multiple languages to augment your business reach to a diverse clientele.</li>
								<li><i class="fas fa-check"></i> We leverage the finest development standards and develop applications optimized for various devices.</li>
								<li><i class="fas fa-check"></i> We offer the fastest launch timing for your store.</li>
								<li><i class="fas fa-check"></i> Get consultancy to build effective and activated online marketing strategy with our highly skilled marketing professionals.</li>
							</ul>
							<a class="mb-1 mt-1 mr-1 btn btn-primary" href="{path='contact-us'}">Share your requirements with us <i class="fas fa-arrow-right ml-1"></i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="call-to-action call-to-action-primary mb-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-lg-9">
					<div class="call-to-action-content">
						<h3>It’s just a matter of call in creating High Revenue Online Business with Craft Commerce. Ask for quote and advice and our executives will assist you to build your dream store online.</h3>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="call-to-action-btn">
						<a href="{path='contact-us'}" target="_blank" class="btn btn-modern text-2 btn-light border-0">Contact Us Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>