{layout="_layout/default"}
<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/assets/img/page-header/page-header-craft-cms.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-9 font-weight-bold">Craft CMS Development</strong></h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="{site_url}">Home</a></li>
						<li><a href="{path='services'}">Services</a></li>
						<li class="active">Craft CMS Development</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-1">
		<div class="row">
			<div class="col-lg-10">
				<div class="overflow-hidden">
					<p class="mb-1 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
						360Adaptive Technologies is using Craft CMS for web development since it was the first launch and achieved an unmatched level of expertise. We have created many highly optimized and high-performing websites and e-commerce portals with this powerful and flexible craft management system across the industries. We offer custom CMS development with Craft CMS helping you grow the profitability and ROI of your business.
					</p>
				</div>
			</div>
			<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<a href="{path='get-a-quote'}" class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2">Get a Quote!</a>
			</div>
		</div>

		<div class="row">
			<div class="col py-3">
				<hr class="solid mt-2 mb-2">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="overflow-hidden text-center">
					<p class="appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
						Craft CMS is one of the fastest content management system that enables us to develop and design any website from the simplest to the complicated one providing a very user-friendly interface for the users to manage the content.<br />Here are some reasons why we use this extensible, scalable and highly-configurable CMS as our of one of the go-to CMS platforms:
					</p>
				</div>
			</div>
		</div>
		<div class="container pb-1">
			<div class="row">
			<div class="container py-2">
				<div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-screen-tablet icons"></i>
									<h4 class="font-weight-normal text-5 mt-3"><strong>Beautiful and simple design</strong></h4>
									<p class="mb-2 mt-2">Creating and managing content is a daily basis task, and the platform you are using should not be complex to learn and use, and the design should be easier than you think. Craft CMS is very simple in design yet beautiful and elegant. It is concise and clear with a highly responsive design.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-layers icons"></i>
									<h4 class="font-weight-normal text-5 mt-3"><strong>Live previews</strong></h4>
									<p class="mb-2 mt-2">This is one of the beautiful features of Craft CMS. As the users make edits, it gets displayed automatically for a preview in a separate live preview window. You do not have to save the content for the preview as it appears as you go. Therefore, you can share your draft with your team as a content manager or test your content draft on any device like a smartphone or tablet using Craft CMS generated preview URL.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-magnifier icons"></i>
									<h4 class="font-weight-normal text-5 mt-3"><strong>Flexibility</strong></h4>
									<p class="mb-2 mt-2">Content editing is super flexible with Craft CMS for the end users, without compromising on the design and final appearance of the product. You can add images, videos, quotes, infographics or any other rich media along with your text.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-screen-desktop icons"></i>
									<h4 class="font-weight-normal text-5 mt-3"><strong>Support</strong></h4>
									<p class="mb-2 mt-2">Craft CMS has a great online support and community support for developers and end users.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-doc icons"></i>
									<h4 class="font-weight-normal text-5 mt-3"><strong>Easy user management</strong></h4>
									<p class="mb-2 mt-2">You can manage your users with Craft CMS’ easy and simple interface. You can also streamline your public user registration process, customize and create dashboards as you want, insert an RSS feed, include a quick post module to your website and more along with user management through Craft CMS.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			</div>
		</div>

	</div>

	<section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
		<div class="container">

			<div class="row">
				<div class="col">

					<div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">We at 360Adaptive Technologies offer the following services using <strong class="font-weight-extra-bold">Craft CMS Development</strong></h2>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Craft CMS Development, Design and Customization of websites as per our client’s business requirements.</li>
								<li><i class="fas fa-check"></i> Craft CMS Multi-site Website Development</li>
								<li><i class="fas fa-check"></i> Craft CMS multilingual website design and development</li>
								<li><i class="fas fa-check"></i> Craft CMS Website Rebuild and Maintenance</li>
								<li><i class="fas fa-check"></i> Plugin Development for Craft 2 and Craft 3</li>
								<li><i class="fas fa-check"></i> Updating Craft 2 Plugins to Craft 3</li>
								<li><i class="fas fa-check"></i> PSD to Craft CMS</li>
								<li><i class="fas fa-check"></i> Wordpress to Craft CMS migration</li>
								<li><i class="fas fa-check"></i> Migrating ExpressionEngine CMS Based Website to Craft CMS</li>
								<li><i class="fas fa-check"></i> Migrating Any Website to Craft CMS</li>
								<li><i class="fas fa-check"></i> Craft CMS Upgrade</li>
								<li><i class="fas fa-check"></i> SEO and Optimization of existing Craft CMS website</li>
							</ul>
						</div>
					</div>

					<hr class="solid my-5">

					<div class="row align-items-center pt-5 pb-3 appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="col-md-12 pr-md-5 mb-5 mb-md-0">
							<h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Craft CMS Development</strong> with 360Adaptive Technologies</h2>
							<p>360 Adaptive is a team of highly skilled developers and technology experts with extensive industry experience. We extend your team of CMS Development team with your expertise in high-end Craft CMS website development. You can establish the relationship of your product with the content as the users can use the live preview feature of this rich content management platform to view what their products s going to looking like.</p>
						</div>
					</div>

					<hr class="solid my-5">

					<div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">Why Us?</h2>
							<p>At 360Adaptive Technologies, we bring our efforts together to guide your content management and help you boost your sales through your content using our Craft CMS Development. We analyze, understand and consider every bit of your project goals, timelines, project scopes, competitions, market, and KPIs while working with you on your Craft CMS project.</p>
							<p>Our expert development team helps you in development and design your own user interface and content API, customization of your content, third-party system integrations, building custom blogs and custom post types, optimizing your search using plugins like SEOMATIC, handling responsive images and gifs with transforms, handling MailChimp emails, RSS feeds, and AMP for your CMS platform and more.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>