{layout="_layout/default"}
<div role="main" class="main">
	<section class="page-header page-header-classic page-header-md">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 data-title-border>ExpressionEngine Development</h1>
				</div>
			</div>
		</div>
	</section>


	<div class="container pb-1">
		<div class="row">
			<div class="col-lg-10">
				<div class="overflow-hidden">
					<p class="appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
						<strong>WE CREATE HIGH-PERFORMING, CUSTOMIZABLE AND FLEXIBLE WEB SOLUTIONS FOR MANAGING YOUR CONTENT EFFECTIVELY.</strong>
						<hr class="solid mt-2 mb-2">
						Are you looking for a flexible and scalable CMS which can manage your website contents & data without any limitations of the Open Source technologies? Does your business need an end to end content management solution that helps you stay competitive in this faster-changing business contexts? ExpressionEngine is a feature rich CMS system that comes with unique functionalities that your website needs to manage all the aspects of content management.
						<hr class="solid mt-2 mb-2">
						360Adaptive Technologies is a team of ExpressionEngine developers with extensive industry experience in delivering projects. We understand your advanced business requirements, and we can build your website and customize your ExpressionEngine accordingly.
					</p>
				</div>
			</div>
			<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<a href="{path='get-a-quote'}" class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2">Get a Quote!</a>
			</div>
		</div>

		<div class="row">
			<div class="col py-3">
				<hr class="solid mt-0 mb-0">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="overflow-hidden text-center">
					<h3 class="mb-0 font-weight-normal">Advantages of <strong class="font-weight-extra-bold">ExpressionEngine Development</strong></h3>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container py-2">
				<div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-size-fullscreen icons"></i>
									<p class="mb-2 mt-2">ExpressionEngine is a powerful, dynamic, scalable, flexible CMS system which can be customized. You also can use add-ons for enhancing the website performance.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-power icons"></i>
									<p class="mb-2 mt-2">ExpressionEngine has powerful and dynamic support for developers and business owners.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured fab fa-osi"></i>
									<p class="mb-2 mt-2">ExpressionEngine is an open source platform, and thus the development with EE is very cost effective, yet powerful.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured fab fa-buromobelexperte"></i>
									<p class="mb-2 mt-2">This dynamic CMS platform has a simple interface that is easy to understand and work upon. Also, it requires no prior knowledge of programming to maintain. Upgrade and publish on this platform.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-reload icons"></i>
									<p class="mb-2 mt-2">You can build a beautifully crafted website with rich features and functionalities to meet your diverse business requirements. Your storefront will be visually engaging, and you’ll be able to put required platform customization that increases your visibility.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured far fa-heart"></i>
									<p class="mb-2 mt-2">ExpressionEngine is extensible, and it allows third-party integrations, customizations, and supports multiple content types. It also has a personalized template engine for custom made templates.</p>
								</div>
							</div>
						</div>									

					</div>
				</div>
			</div>
		</div>		
	</div>

	
	<div class="container py-2">
		<div class="row">
			<div class="col">
				<section class="call-to-action call-to-action-primary mb-1">
					<div class="container">
						<div class="row">
							<div class="col-sm-9 col-lg-9">
								<div class="call-to-action-content">
									<p class="mb-0">Get <strong>24*7 assistance</strong> from our highly skilled <strong>Expression Engine Development</strong> professionals, get your project delivered within your <strong>tight deadlines</strong> and end to end project assistance through every stage of the <strong>development lifecycle</strong>.</p>
								</div>
							</div>
							<div class="col-sm-3 col-lg-3">
								<div class="call-to-action-btn">
									<a href="{path='contact-us'}" target="_blank" class="btn btn-modern text-2 btn-light border-0">Contact Us Now</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

	<section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
		<div class="container">

			<div class="row">
				<div class="col">

					<div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">Our service for <strong class="font-weight-extra-bold">Expression Engine Development</strong></h2>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Responsive Website Design and Development from Scratch</li>
								<li><i class="fas fa-check"></i> Expression Engine Website Maintenance and Support</li>
								<li><i class="fas fa-check"></i> Expression Engine Add-Ons Development</li>
								<li><i class="fas fa-check"></i> Expression Engine Upgrade to Latest Version (EE1 -> EE2 -> EE3 -> EE4 -> EE5)</li>
								<li><i class="fas fa-check"></i> E-Commerce Website Design & Development using CartThrob or Expresso Store</li>
								<li><i class="fas fa-check"></i> WordPress to Expression Engine Migration</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>