{layout="_layout/default"}
<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/assets/img/page-header/page-header-responsive.png);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-9 font-weight-bold">Responsive and Mobile Websites</strong></h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="{site_url}">Home</a></li>
						<li><a href="{path='services'}">Services</a></li>
						<li class="active">Responsive and Mobile Websites</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-1">
		<div class="row">
			<div class="col-lg-10">
				<div class="overflow-hidden">
					<p class="appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
						360Adaptive Technologies understands the importance of a fluid design that fits into any device your users use. We create Stunning Responsive and mobile websites using advanced technologies and tools.
					</p>
				</div>
			</div>
			<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<a href="{path='get-a-quote'}" class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2">Get a Quote!</a>
			</div>
		</div>
	</div>

	<section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
		<div class="container">

			<div class="row">
				<div class="col">

					<div class="row align-items-center pt-1 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">How does a responsive design help your website to get more clicks?</h2>
							<p>A website with a responsive design makes fit to the website according to the size of visitor’s screen automatically no matter your visitor is using a mobile or laptop. It adjusts itself to make the user–experience smooth. Today users use devices like widescreen desktop, laptops. Tablets, smartphones and they even switch devices while working. Therefore, your website should be accessible on all the devices.</p>
							<p>Research shows that at the end of the year 2018 the total share in online traffic mobile users will have 79% shares. You never know which screen your potential reader or customer use to serve the website. So to provide them an impressive experience a responsive website is one of the must do's in businesses nowadays. If you are willing for long-term business, you can't ignore this fact that most of the people surf the internet through mobile devices.</p>
						</div>
					</div>

					<hr class="solid my-5">

					<div class="row align-items-center pt-1 appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">Benefits of <strong class="font-weight-extra-bold">responsive website</strong></h2>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Makes user experience smooth.</li>
								<li><i class="fas fa-check"></i> Affects positively on user engagement.</li>
								<li><i class="fas fa-check"></i> Makes your design best for every device.</li>
								<li><i class="fas fa-check"></i> Enhance the chances of getting ranked.</li>
								<li><i class="fas fa-check"></i> Mobile first responsive designs have quicker load times</li>
								<li><i class="fas fa-check"></i> Responsive Mobile First Designs ensure cross-platform compatibility naturally.</li>
								<li><i class="fas fa-check"></i> Lower cost</li>
								<li><i class="fas fa-check"></i> Concentration on developing just one website for all devices.</li>
								<li><i class="fas fa-check"></i> No chance of duplicate content on separate websites built for different platforms</li>
								<li><i class="fas fa-check"></i> A wider range of audience.</li>
							</ul>
						</div>
					</div>

					<hr class="solid my-5">

					<div class="row align-items-center pt-1 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Responsive and mobile first design</strong> services from 360Adaptive Technologies</h2>
							<p>360 Adaptive has a team of top-notch designers and technology experts who can understand your business requirements and design your website according to that. We design and develop your website making it responsive focusing on the future trends and faster-changing business landscape.<br />We ensure:</p>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Smooth and fluid navigation is assured throughout the website on various devices</li>
								<li><i class="fas fa-check"></i> No horizontal scrolling for any screen size.</li>
								<li><i class="fas fa-check"></i> We write codes and keep the elements that are W3C validated.</li>
								<li><i class="fas fa-check"></i> We analyze your requirement thoroughly and create responsive design after planning it logically.</li>
								<li><i class="fas fa-check"></i> We at 360Adaptive, we test your website extensively on various screen sizes, devices and platforms to ensure the highest quality.</li>
								<li><i class="fas fa-check"></i> We provide a planned and proper call to action to the design to maximize user experience.</li>
							</ul>
						</div>
					</div>					

				</div>
			</div>
		</div>
	</section>
</div>