{layout="_layout/default"}
<div role="main" class="main">
	<section class="page-header page-header-classic page-header-md">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 data-title-border>Statamic CMS Development</h1>
				</div>
			</div>
		</div>
	</section>


	<div class="container pb-1">
		<div class="row">
			<div class="col-lg-10">
				<div class="overflow-hidden">
					<p>
						Statamic is a flat file based Content Management System which is build on Laravel (the most modern, powerful and secure PHP framework) and having Vue.js-powered control panel. It stores all the contents and configurations in text files, markdown files and YAML files with advantage of version controlled for everything. Statamic is having intuitive templating language for publishing the CMS driven contents and data.
					</p>
					<hr class="solid mt-3 mb-3">
					<p>
						360Adaptive Technologies is a team experienced technology professionals with huge industry experience. We develop Content Management System with many of the technologies and have adopted Statamic as well. We have successfully delivered many good Statamic CMS projects as well with 100% customer satisfaction.
					</p>
				</div>
			</div>
			<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<a href="{path='get-a-quote'}" class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2">Get a Quote!</a>
			</div>
		</div>

		<div class="row">
			<div class="col py-3">
				<hr class="solid mt-0 mb-0">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="overflow-hidden text-center">
					<h3 class="mb-0 font-weight-normal">Why <strong class="font-weight-extra-bold">Statamic CMS?</strong></h3>
					<p>Statamic CMS is a flat-file based CMS platform that is used to build smaller websites as of now. Main features of Statamic CMS include –</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container py-2">
				<div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-size-fullscreen icons"></i>
									<p class="mb-2 mt-2">Statamic is very easy to develop Statamic Themes, develop flawless functionality on your existing Statamic website, any blog post or product catalogs.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-power icons"></i>
									<p class="mb-2 mt-2">Statamic is compatible with various add-ons that make this CMS platform to become reusable.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured fab fa-osi"></i>
									<p class="mb-2 mt-2">Statamic is cost effective and it is a commercial CMS comes with premium add-ons.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured fab fa-buromobelexperte"></i>
									<p class="mb-2 mt-2">It is a flat-file CMS. Therefore, you do not have to deal with a database while working on this.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured icon-reload icons"></i>
									<p class="mb-2 mt-2">Comes with a clean, responsive and attractive control panel that makes content management like breeze.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="featured-box featured-box-primary featured-box-effect-3">
								<div class="box-content box-content-border-0">
									<i class="icon-featured far fa-heart"></i>
									<p class="mb-2 mt-2">Having an awesome documentation to make developer’s life easy with this CMS tool.</p>
								</div>
							</div>
						</div>									

					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="container py-2">
		<div class="row">
			<div class="col">
				<section class="call-to-action call-to-action-primary mb-1">
					<div class="container">
						<div class="row">
							<div class="col-sm-9 col-lg-9">
								<div class="call-to-action-content">
									<p class="mb-0">Call us and get a quote for our <strong>Statamic CMS Development</strong> and develop a <strong>most reasonable</strong> and <strong>cost-effective</strong> solution for your business!</p>
								</div>
							</div>
							<div class="col-sm-3 col-lg-3">
								<div class="call-to-action-btn">
									<a href="{path='contact-us'}" target="_blank" class="btn btn-modern text-2 btn-light border-0">Contact Us Now</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

	<section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
		<div class="container">

			<div class="row">
				<div class="col">

					<div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">Our services for <strong class="font-weight-extra-bold">Statamic CMS Development</strong></h2>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Custom Statamic CMS web development</li>
								<li><i class="fas fa-check"></i> Statamic Theme Design and Development</li>
								<li><i class="fas fa-check"></i> Statamic Add-ons and Extensions Development</li>
								<li><i class="fas fa-check"></i> Statamic CMS Upgrade</li>
								<li><i class="fas fa-check"></i> PSD to Statamic CMS based website</li>
								<li><i class="fas fa-check"></i> Other CMS to Statamic CMS Migration</li>
								<li><i class="fas fa-check"></i> SEO optimization of existing Statamic CMS</li>
							</ul>
							<a class="mb-1 mt-1 mr-1 btn btn-primary" href="{path='contact-us'}">Share your requirements with us <i class="fas fa-arrow-right ml-1"></i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>