{layout="_layout/default"}
<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/assets/img/page-header/page-header-ui-ux-graphic-design.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-9 font-weight-bold">UI / UX / Graphic Design</strong></h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="{site_url}">Home</a></li>
						<li><a href="{path='services'}">Services</a></li>
						<li class="active">UI / UX / Graphic Design</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-1">
		<div class="row">
			<div class="col-lg-12">
				<div class="overflow-hidden">
					<p>
						360Adaptive has designing experts who understand that design is not only design but a patent of various psychological facts put into a structure regardless of the name of structure - a webpage, app, logo or even an icon.
					</p>
					<hr class="solid mt-3 mb-3">
					<p>
						Business websites need a creative User Interface to provide delightful user experiences. A visually appealing storefront design targets the visitors and they return to become your potential long-term customers. Research says, among millions of websites, people like to revisit handful ones who give them a visual delight while visiting. Users love a website that is good to see, easy to use and simple to extract information as they need.
					</p>					
				</div>
			</div>
		</div>
	</div>

	<div class="container py-2 mt-4">
		<div class="row">
			<div class="col">
				<section class="call-to-action call-to-action-primary mb-1">
					<div class="container">
						<div class="row">
							<div class="col-sm-9 col-lg-9">
								<div class="call-to-action-content">
									<p class="mb-0">We provide a wide range of exclusive <strong>UI / UX / Graphics Design</strong> services to the businesses</p>
								</div>
							</div>
							<div class="col-sm-3 col-lg-3">
								<div class="call-to-action-btn">
									<a href="{path='get-a-quote'}" target="_blank" class="btn btn-modern text-2 btn-light border-0">Get a Quote</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

	<section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
		<div class="container">

			<div class="row">
				<div class="col">

					<div class="row align-items-center pt-1 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">360Adaptive approach to <strong class="font-weight-extra-bold">UI/UX Designing</strong></h2>
							<p>We follow modern and advanced approach while designing your storefront making it a seamless experience for your users.</p>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> We plan a blueprint of your UI for the platform you want us to build after analyzing and studying the user behaviours from diverse demography.</li>
								<li><i class="fas fa-check"></i> Then we design the User Interface based on the blueprint or the wireframe we built.</li>
								<li><i class="fas fa-check"></i> After your approval, we make the changes if needed.</li>
								<li><i class="fas fa-check"></i> We work on the usability and make the feature interact and engage with the actual functionality of each component.</li>
							</ul>
						</div>
					</div>

					<hr class="solid my-5">

					<div class="row align-items-center pt-1 appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">Why Us?</h2>
							<p>We at 360Adaptive Technologies not only design your creative material but we design revenue increasing materials for our clients. No matter we design a webpage, app or icon. We walk into every aspect and relate it to your conversion rate and impression of your business.</p>
							<p>We observe every business from a whole 360 degrees angle, and then we create a design that helps you building sales funnel for your business for maximizing revenue.<br />At 360Adaptive Technologies you get -</p>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Latest design techniques and trends</li>
								<li><i class="fas fa-check"></i> 100% Quality Assurance</li>
								<li><i class="fas fa-check"></i> Unmatched and professional look and feel as per your business needs.</li>
							</ul>
						</div>
					</div>

					<hr class="solid my-5">

					<div class="row align-items-center pt-1 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="col-md-12 pl-md-5">
							<h2 class="font-weight-normal text-6 mb-3">360Adaptive Technologies <strong class="font-weight-extra-bold">UI/UX Design</strong> services</h2>
							<ul class="list list-icons list-icons-style-2">
								<li><i class="fas fa-check"></i> Logo Design</li>
								<li><i class="fas fa-check"></i> Brochure Design</li>
								<li><i class="fas fa-check"></i> Banner Design</li>
								<li><i class="fas fa-check"></i> Mobile App Icons Design</li>
								<li><i class="fas fa-check"></i> Mobile App UI Design</li>
								<li><i class="fas fa-check"></i> Full Webpage UI Design</li>
								<li><i class="fas fa-check"></i> PSD Conversion</li>
							</ul>
						</div>
					</div>					

				</div>
			</div>
		</div>
	</section>
</div>