{layout="_layout/default"}

<div role="main" class="main">
	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/assets/img/page-header/page-header-about-us.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-9 font-weight-bold">About Us</h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="{site_url}">Home</a></li>
						<li class="active">About Us</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row text-center pb-5">
			<div class="col-md-9 mx-md-auto">
				<div class="overflow-hidden mb-3">
					<h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
						<span class="word-rotator-words bg-primary">
							<b class="is-visible">360&#176;</b>
						</span>
						<span> solutions for web and mobile app development</span>
					</h1>
				</div>
				<div class="overflow-hidden mb-3">
					<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
						360Adaptive Technologies is highly professional web development company strongly based on the principal of never to compromise on quality. We believe in creating solutions that can best fit our customers' business requirements and provide high return on investment. Our team has extensive experience in utilizing tools and technologies for servicing unique business requirements of our global clients.
					</p>
				</div>
			</div>
		</div>
	</div>


	<section class="call-to-action call-to-action-primary mb-5 button-centered">
		<div class="col-12">
			<div class="call-to-action-content">
				<h3>We love our <strong class="font-weight-extra-bold">Clients</strong></h3>
				<div class="divider divider-white divider-small divider-small-center"><hr></div>
				<p class="mb-0">WE VALUE OUR CLIENTS, THEIR <strong class="font-weight-extra-bold">MONEY</strong> AND <strong class="font-weight-extra-bold">TIME</strong>.</p>
				<p class="mb-0">We provide 18 hours support via email, skype and phone call. The satisfaction of clients is higher preority for us.</p>
				<div class="divider divider-white divider-small divider-small-center"><hr></div>
				<p class="mb-0">Today the trends in technology keep changing rapidly with new innovations that can make the web development job more simple and cost effective. 360Adaptive Technologies being a web development company from India, believes in adapting to the change in technologies to develop web solutions that can give superior user experience and match the taste and preferences of our customers affordably.</p>
			</div>
		</div>
		<div class="col-12">
			<div class="call-to-action-btn">
				<a href="{path='contact-us'}" class="btn btn-modern text-2 btn-light border-1">Contact Us</a>
			</div>
		</div>
	</section>

	
</div>