<footer id="footer" class="mt-0">
	<div class="container">
		<div class="footer-ribbon">
			<span>Get in Touch</span>
		</div>
		<div class="row py-5 my-4">
			<div class="col-md-7 col-lg-4 mb-5 mb-lg-0 pt-3">
				<h5 class="text-3 mb-3">ABOUT US</h5>
				<p>We offer full range of creative services, from design to development, multimedia, e-commerce, CMS development and mobile application development</p>
				<p class="mb-0">We are expert in CMS's like ExpressionEngine, Craft CMS, Statamic, WordPress and many others.</p>
				<p class="mb-0"><a href="{path='about-us'}" class="btn-flat btn-xs text-color-light p-relative top-5"><strong class="text-2">MORE</strong><i class="fas fa-angle-right p-relative top-1 pl-2"></i></a></p>
			</div>
			<div class="col-md-5 col-lg-3 mb-5 mb-lg-0 pt-3">
				<h5 class="text-3 mb-3 pb-1">CONTACT US</h5>
				<p class="text-8 text-color-light font-weight-bold">{company_phone}</p>
				<ul class="list list-icons list-icons-lg">
					<li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">{company_address}</p></li>
					<li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:mail@example.com">{company_email}</a></p></li>
				</ul>
				<ul class="social-icons mt-4">
					<li class="social-icons-facebook"><a href="https://www.facebook.com/360adaptive/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
					<!-- <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li> -->
					<li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/360adaptive/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</div>
			<div class="col-lg-5 pt-3">
				<h5 class="text-3 mb-3 pb-1">SEND US A MESSAGE</h5>
				{exp:email:contact_form user_recipients="no" recipients="bhashkar007@gmail.com" charset="utf-8" form_id="contactForm" form_class="contact-form"}
					<input type="hidden" value="Contact Form" name="subject" id="subject">
					<div class="contact-form-success alert alert-success d-none" id="contactSuccess">
						Message has been sent to us.
					</div>

					<div class="contact-form-error alert alert-danger d-none" id="contactError">
						Error sending your message.
						<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
					</div>
					<div class="form-row">
						<div class="form-group col">
							<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control py-2" placeholder="Your Name..." name="name" id="name" required>
						</div>
					</div>
					<div class="form-group">
						<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control py-2" placeholder="Your Email Address..." name="from" id="from" required />
					</div>
					<div class="form-row">
						<div class="form-group col">
							<textarea maxlength="5000" data-msg-required="Please enter your message." rows="4" class="form-control" placeholder="Your Message..." name="message" id="message" required></textarea>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col">
							<input type="submit" value="SUBMIT" class="btn btn-xl btn-outline btn-primary text-1 font-weight-bold text-uppercase" data-loading-text="Loading...">
						</div>
					</div>
				{/exp:email:contact_form}
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container py-2">
			<div class="row py-4">
				<div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
					<p>© Copyright {current_time format="%Y"}. All Rights Reserved.</p>
				</div>
				<!-- <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
					<nav id="sub-menu">
						<ul>
							<li><i class="fas fa-angle-right"></i><a href="{path='express-engine'}" class="ml-1 text-decoration-none"> ExpressionEngine Add-ons</a></li>							
							<li><i class="fas fa-angle-right"></i><a href="{path='cms-plugins'}" class="ml-1 text-decoration-none"> Craft CMS Plugins</a></li>
						</ul>
					</nav>
				</div> -->
			</div>
		</div>
	</div>
</footer>